*{
    box-sizing: border-box;
    padding: 0;
}

html{
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #383838;
    margin: 0;
}

main {
    flex-grow: 1;
}
.header-inner-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.navbar{
    background-color: black;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

nav ul{
    display: flex; 
    gap: 10px;
    list-style: none;
    white-space: nowrap;
}
nav a {
    color: white;
    text-decoration: none; 
    font-size: 1.1rem; 
    cursor: pointer;
}

.nav-icon-container{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 1rem;
}

.nav-icon-container a {
    color: white;
    text-decoration: none; 
}

.search-box {
    display: flex;
    align-items: center; 
    background-color: #ffffff; 
    height: 40px;
    padding: 0 15px;
    border-radius: 20px;
}


.search-text {
    background: none;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    width: 150px;
    transition: width 0.4s ease-in-out; 
}

.search-text:focus {
    width: 200px; 
}

.search-text::placeholder {
    color: #a9a9a9;
}


.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn .fa-magnifying-glass {
    color: white;
    font-size: 1.2rem;
}


.add-product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #383838;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: white;
}

.add-product-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

}

.form-title {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: white;
}

.form-field label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: white;
    font-weight: bold;

}


.form-field input[type="text"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #D9D9D9;
    color:black
}

.upload-text {
    color: rgb(34, 33, 33);
    font-size: 0.9rem;
}

.upload-label {
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    padding: 0.8rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: right;
    color: black;
    display: flex;
    font-size: 0.9rem;
}

.form-buttons {
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem; ;
}

.btn {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    height: 50px;
    
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover{
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #e0e0e0;
    color: #333;
}

.btn-secondary:hover {
    background-color: #c7c7c7;
}


.items-list-container {
    margin-top: 0.5rem;
    max-width: 1200px;
    margin: 4px auto;
    padding: 2rem;
    background-color: #383838;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}

.list-title{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: white;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    
}

.items-table thead th{
    background-color: #8E8E8E; 
    padding: 0.8rem 1rem;
    text-align: left; 
    font-size: 0.9rem;
    color: white;
    border-bottom: 2px solid #dee2e6;
}

.items-table td {
    padding: 0.5rem 1rem; /* Diminui o espaçamento vertical */
    vertical-align: middle; /* Alinha o conteúdo de todas as células no meio */
    border-bottom: 1px solid #c7c7c7; /* Adiciona uma linha separadora */
}

/* 2. Limita o tamanho da imagem da carta */
.items-table .product-image {
    max-width: 60px; 
    height: auto;
    border-radius: 4px; /* Opcional: para arredondar as bordas da imagem */
}

/* 3. Garante que os botões de ação fiquem centralizados */
.items-table .btn-edit,
.items-table .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.items-table tbody {
    background-color: #f0f0f0;
    height: 200px;
    color: black;
}

footer { 
        background-color: black;
        color: white;
        padding: 1.5rem;
        margin-top: 2rem;
}

.footer-inner-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}