*{
    box-sizing: border-box;
    padding: 0;
}

html{
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

main {
    flex-grow: 1;
}
.header-inner-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-size: 1.5rem;
    color: white;
}

.navbar{
    background-color: black;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

nav ul{
    display: flex; 
    gap: 10px;
    list-style: none;
    white-space: nowrap;
}
nav a {
    color: white;
    text-decoration: none; 
    font-size: 1.1rem; 
    cursor: pointer;
}

.nav-icon-container{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 1rem;
}

.add-product-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


/* Lista de itens */

.items-list-container {
    margin-top: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.list-title{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
}


.items-table thead th{
    background-color: #e9ecef; /* Um cinza bem claro para o fundo do cabeçalho */
    padding: 0.8rem 1rem;
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 0.9rem;
    color: #333;
    border-bottom: 2px solid #dee2e6; /* Linha sutil abaixo do cabeçalho */
}

.items-table tbody {
    background-color: #e9ecef;
}

.items-table td {
    padding: 1rem;
    vertical-align: middle; 
}

.card-item {
    border-bottom: 1px solid #d1d1d1;
}

.product-sell {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.product-sell img {
    max-width: 100px;;
}

.product-details p {
    margin: 4px 0;
    font-size: 0.9rem;
    font-weight: bold;
}

.quantity-items {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
}

.quantity-btn {
    background-color: #d1d1d1;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    cursor: pointer;
    line-height: 28px;
}

.price-sell {
    font-size: 1.1rem;
    font-weight: bold;
}

.delete-icon {
    font-size: 1.3rem;
    color: #333;
    cursor: pointer;
}

.delete-icon:hover {
    color: red;
}





footer { 
        background-color: black;
        color: white;
        padding: 1.5rem;
        margin-top: 2rem;
}

.footer-inner-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
}